name: Build NPSharp

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 22

    - name: Cache node_modules
      uses: actions/cache@v3
      with:
        path: node_modules
        key: node-mods-${{ hashFiles('package-lock.json') }}
        restore-keys: node-mods-

    - name: Install dependencies
      run: npm ci

    - name: Cache VSIX extensions
      uses: actions/cache@v3
      with:
        path: |
          .vscode/extensions
          build/.vsix-cache
        key: vsix-${{ hashFiles('extensions/**') }}
        restore-keys: vsix-

    - name: Compile NPSharp
      run: node --max-old-space-size=10240 ./node_modules/gulp/bin/gulp.js compile-build-with-mangling

    - name: Build Extensions with Retry
      shell: pwsh
      run: |
        $RETRIES = 5
        for ($i = 1; $i -le $RETRIES; $i++) {
            Write-Host "Attempt $i..."
            try {
                node --max-old-space-size=10240 ./node_modules/gulp/bin/gulp.js compile-extensions-build --skipLibCheck
                Write-Host "Success on attempt $i"
                break
            } catch {
                Write-Host "Attempt $i failed, retrying..."
                Start-Sleep -Seconds 5
                if ($i -eq $RETRIES) {
                    throw "All attempts failed, tovarish."
                }
            }
        }

    - name: Create Portable
      run: node --max-old-space-size=10240 ./node_modules/gulp/bin/gulp.js minify-vscode

    - name: Install Inno Setup
      run: choco install innosetup -y

    - name: Build Installer (.exe)
      run: |
        & "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" npsharp.iss

    - name: Upload Portable
      uses: actions/upload-artifact@v4
      with:
        name: NPSharp-Portable
        path: build/output/portable/**/*

    - name: Upload Installer
      uses: actions/upload-artifact@v4
      with:
        name: NPSharp-Installer
        path: build/output/installer/**/*.exe
