name: NPSHARP Build & Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-linux:
    name: Build Linux
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.15.1
      - name: Verify Node
        run: |
          node -v
          npm -v
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libx11-dev libxkbfile-dev libnotify-bin pkg-config libkrb5-dev
          npm install --legacy-peer-deps
      - name: Build Linux (Portable + Installer)
        run: npm run compile-build

      - name: Move external build into ./out
        run: |
          mkdir -p out
          cd ..
          cp -R build/* npsharp/out/

      - name: Debug Linux output
        run: |
          echo "PWD: $(pwd)"
          echo "Files in ./out:"
          ls -la ./out || echo "./out does not exist!"
      - uses: actions/upload-artifact@v5
        with:
          name: linux-artifacts
          path: ./out

  build-windows:
    name: Build Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22.15.1
      - name: Verify Node
        run: |
          node -v
          npm -v
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Build Windows (Portable + Installer)
        run: npm run compile-build

      - name: Move external build into ./out
        run: |
          mkdir out 2>$null
          cd ..
          xcopy build\* npsharp\out\ /E /I /Y

      - name: Debug Windows output
        run: |
          echo %CD%
          dir .\out || echo ".\out does not exist!"
      - uses: actions/upload-artifact@v5
        with:
          name: windows-artifacts
          path: ./out

  release:
    name: Release All Artifacts
    runs-on: ubuntu-22.04
    needs: [build-linux, build-windows]
    steps:
      - uses: actions/checkout@v6
      - name: Debug Release folder
        run: |
          echo "PWD: $(pwd)"
          echo "Files in ./release:"
          ls -la ./release || echo "./release does not exist!"
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          path: ./release
      - name: List downloaded artifacts
        run: |
          echo "Files after download:"
          ls -la ./release || echo "Nothing downloaded!"
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: "v${{ github.run_number }}"
          name: "NPSHARP v${{ github.run_number }}"
          artifacts: "./release/**"
          draft: false
          prerelease: false
