name: Build NPSharp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Linux Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            libx11-dev \
            libxkbfile-dev \
            libnotify-bin \
            pkg-config \
            libsecret-1-dev \
            libkrb5-dev \
            libnss3-dev \
            libxss1 \
            libxtst6 \
            libxshmfence-dev

      - name: Install NPM deps
        run: |
          npm install --force

      - name: Build VSCode (Linux)
        run: |
          npm run gulp vscode-linux-x64-min

      - name: Create ZIP
        run: |
          cd ..
          zip -r npsharp-linux.zip NPSharp/VSCode-linux-x64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: npsharp-linux
          path: ../npsharp-linux.zip



  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install NPM deps
        run: |
          npm install --force

      - name: Build VSCode (Windows)
        run: |
          npm run gulp vscode-win32-x64-min

      - name: Create ZIP
        run: |
          powershell Compress-Archive -Path .\VSCode-win32-x64 -DestinationPath ..\npsharp-windows.zip -Force

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: npsharp-windows
          path: ../npsharp-windows.zip



  release:
    needs: [build-linux, build-windows]
    runs-on: ubuntu-latest
    steps:
      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: npsharp-linux

      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: npsharp-windows

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: NPSharp Build ${{ github.run_number }}
          files: |
            npsharp-linux.zip
            npsharp-windows.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
